<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Lightbox -->
    <link href="/stylesheets/lightbox.css" rel="stylesheet" type="text/css">

    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ЦПО Велико Търново</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Информация</a>
                    </li>
                    <li>
                        <a href="/deinosti">Дейност</a>
                    </li>
                    <li>
                        <a href="/profesii">Професии</a>
                    </li>
                    <li>
                        <a href="/kursove">Курсове</a>
                    </li>
                    <li>
                        <a href="/galeria">Галерия</a>
                    </li>
                    <li class="active">
                        <a href="/contact">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">  

    <div class="col-md-3" id="partners_contact">
        <h2>Партньори</h2>
        <img src="images/part1_t.jpg" alt="Напоо" class="img-rounded">
        <img src="images/part2_t.jpg" alt="Агенция по Заетост" class="img-rounded">
        <img src="images/part3_t.jpg" alt="Министерство на Образуванието и Науката" class="img-rounded">
    </div>
    <div class="col-md-8" id="content_contact"> 

        <center>

            <h3>Център за професионално обучение към регионален съюз на ТПК гр. Велико Търново” ЕООД – Велико Търново</h3>

            Адрес: <br>
            Гр. Велико Търново, 5000 <br>
            Ул. „ Никола  Габровски“ № 1, ет. 2, офис 10 <br>
            Телефони:  062/625048 <br>
                       0889996104 – Ваня Вачева <br>
                       0889819200 – Теодора Миновска <br>
            Email: <a href="mailto:centarzakvalifikacia@abv.bg" target="_top">centarzakvalifikacia@abv.bg</a>
            <div id="map"></div>

        </center>

    </div>

    </div>
    <!-- /.container -->

    <footer class="footer">
            <center>
                Център за професионално обучение - Велико Търново, 2016
                <br>
                Телефон за контакти: 062 625 048
            </center
        </footer>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>


    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });

    // $(".pop").on("click", function() {
    //    $('#imagepreview').attr('src', $('.imageresource').attr('src'));
    //    $('#imagemodal').modal('show');   
    // });
    </script>

    <script> 
    function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 43.07832, lng: 25.6267622},
          zoom: 18
        });
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

</body>

</html>
