<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ЦПО Велико Търново - Курсове</title>

    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ЦПО към РС на ТПК - Велико Търново</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Информация</a>
                    </li>
                    <li>
                        <a href="/deinosti">Дейност</a>
                    </li>
                    <li>
                        <a href="/profesii">Професии</a>
                    </li>
                    <li class="active">
                        <a href="/kursove">Курсове</a>
                    </li>
                    <li>
                        <a href="/galeria">Галерия</a>
                    </li>
                    <li>
                        <a href="/contact">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">        
        <div class="col-md-3" id="partners">
                <h2>Партньори</h2>
                <img src="images/part1_t.jpg" alt="Напоо" class="img-rounded">
                <img src="images/part2_t.jpg" alt="Агенция по Заетост" class="img-rounded">
                <img src="images/part3_t.jpg" alt="Министерство на Образуванието и Науката" class="img-rounded">
            </div>
            <div class="col-md-8">
    
                <h2>Курс Готвачи</h2>
                <p>В курса се изучава: приготвянето и съхранението на полуфабрикати, като предварително се обработват животински и растителни продукти; приготвянето на кулинарни изделия и напитки като супи, предястия, аламинути, основни ястия, десерти, тестени изделия, чуждестранна кухня  и др; оформянето и реализирането на кулинарните изделия и напитки; технологичното обзавеждане на търговската зала - прибори, инвентар, съдове.</p>

                <h2>Курс Сервитьори и бармани</h2>
                <p>В курса се изучава: основните правила за сервиране на ястия и напитки; специфичните изисквания за подреждане на обзавеждането в заведението; предназначението на  всички прибори на масата (покривки, салфетки, елементи за украса, чаши, прибори за хранене, посуда, менюта, и др.); различните  стандарти за подреждане на масите; приготвянето на  различните видове напитки (аперитиви, вина, коктейли, топли напитки и др.); правилата за сервиране на напитки и ястия (време, последователност, избор на прибори и др.); оформяне на сметката и др.</p>

                <h2>Курс Фризьори</h2>
                <p>В курса се изучава: нормите на професионалната етика; принципите за работа в екип; изискванията за работа с козметични продукти и апаратура; основните термини във фризьорството; конкретната линия на подстригване и крайния резултат; различни техники на дамско, мъжко и детско  подстригване; различните видове подхранващи козметични продукти; различни техники на изсушаване на косата; видове подстригвания; различни техники на оцветяване и/или обезцветяване с подходящи козметични продукти; различни техники за къдрене или химично изправяне с подходящите козметични продукти; различни техники и козметични продукти за възстановяване на косата и домашни грижи.</p>

                <h2>Курс Козметици</h2>
                <p>В курса се изучава: извършването на  козметични услуги като : козметични масажи на лице и тяло; процедури за хармония, релакс и възстановяване с козметично-разкрасителен ефект; извършване на процедури за грим, микропигментация - перманентен грим; процедура за дневен и вечерен грим; поставяне на  изкуствени мигли и оформяне на  вежди; извършване на  диагностика и консултация за методите на отстраняване на нежелано окосмяване.</p>

                <h2>Курс Маникюристи</h2>
                <p>В курса се изучава: изработването на маникюр, педикюр и ноктопластика. Нови техники при маникюра, грижа за ноктите на ръцете и краката. Обучението е модул от професия КОЗМЕТИК; специалност КОЗМЕТИКА.</p>

                <h2>Курс Масажист</h2>
                <p>В курса се изучава: класически, лечебен, спортен, релаксиращ, акупресура, при различните видове заболявания масаж и други. На курсисте се предоставя видеоматериал за СУ ДЖОК ТЕРАПИЯ. Обучението е модул от професия КОЗМЕТИК; специалност КОЗМЕТИКА.</p>

                <h2>Курс Огняри</h2>
                <p>В курса се изучава: монтаж и демонтаж на елементи и възли от котелни съоръжения и инсталации и самостоятелни горивни уредби; профилактика на котелнитe съоръжения и инсталации; работа с газообразни горива; обслужване на газови котли, инсталации, уреди и системи; обслужване на котли на течно и твърдо гориво, инсталации и уреди; видовете съоръжения и инсталации за производство на енергия от възобновяеми енергийни източници. Към професията срещу заплащане се дава допълнителна квалификация за работа на котли с газово оборудване. </p>

                <h2>Курс Kранисти</h2>
                <p>В курса се изучава: техническото обслужване на подемно - транспортна техника : мостови и козлови кранове, кулокранове, автокранове, трансманипулатори, автовишки, и др. видове кранове, техният ремонт както и тяхното управление при работа с и без товар. Документите се издават от РО ИДТН.
                Курс Монтьор на асансьори
                В курса се изучава: извършването на електромонтажни дейности за изграждане на електрообзавеждането на подемни и асансьорни уредби; извършване на монтаж, поддържане и ремонтни дейности на подемни и асансьорни уредби; консултиране на клиентите относно техническото обслужване на подемни и асансьорни уредби.</p>

                <h2>Курс Газова техника</h2>
                <p>В курса се изучава: работата с газообразни горива;  работа с уреди за контрол и регулиране параметрите на газа; монтиране и демонтиране на  газови съоръжения, инсталации и уреди и системи за димоотвеждане и вентилация; участието  при изграждане на газоразпределителни мрежи;  участие при въвеждане в експлоатация на промишлени и сградни газови инсталации и разпределителни мрежи; извършване на профилактика и ремонт на промишлени и сградни газови инсталации и разпределителни мрежи.</p>

                <h2>Курс Електро и мотокаристи</h2>
                <p>В курса се изучава: устройството, техническото обслужване на електро и мотокарите в предприятията;  ремонта им и работата с тях при поемане на товара, транспортирането му и поставянето на съответното място.</p>

                <h2>Курс Машинист на пътни и строителни машини</h2>
                <p>В курса се изучава: устройството, техническото обслужване на всички пътно-строителни машини, оборудванията и двигателите им; ремонта  и работата с тях  при различни ситуации – работа на депо или на пътя.</p>

                <h2>Курс Компресористи</h2>
                <p>В курса се изучава: предназначението, техническото обслужване на компресорните инсталации и електрическите  агрегати. Видове. Основни параметри. Режим на работа. Общо устройство. Конструктивни особености. Принцип на действие. Производителност. Приложение.</p>

                <h2>Курс Заварчици</h2>
                <p>В курса се изучава: конвенционалните процеси на заваряване (ръчно електродъгово заваряване с обмазан електрод, заваряване в защитна газова среда с топящ се електрод, заваряване в защитна газова среда с нетопящ се волфрамов електрод, газокислородно  рязане); принципа на електродъговото заваряване;  видовете обмазани електроди и приложението им; принципа на заваряване в защитна газова среда с топящ се електрод; различни техники на заваряване; изпълняване на  ъглови шевoве на листов материал с различни дебелини – заварчик на РЕДЗ, заварчик на СО2, заварчик с аргон и газорезач на метали.</p>

                <h2>Курс Кофражисти</h2>
                <p>В курса се изучава: разчитане на монтажните и изчислителните схеми на кофражните скелета; изработване на кофражи на различни конструктивни елементи, фундаменти и стени, колони, греди, плочи, самостоятелни пояси, щурцове, козирки, корнизи, стълбищни рамена и площадки; черупкови конструкции, куполи и др.; изработване на дървени платна и други средства за укрепване на изкопи по проекта за изпълнение на земните работи; монтиране и демонтиране на  различни видове кофражи; демонтиране на  средства за укрепване на изкопи.</p>

                <h2>Курс Зидария</h2>
                <p>В курса се изучава: приготвянето на  разтвори и лепила от сухи смеси за тухлена зидария; тухлена зидария на : прав тухлен зид чрез осъществяване на тухлените превръзки при зидане на стени с различна дебелина; прав ъгъл при кръстосване на стени с различни дебелини (Т-образно кръстосване на два зида);  колони от тухли с различни размери и форма; оформяне на отвори за врати и прозорци; изграждане на комини в сгради; тухлени превръзки на комини с един и повече отвори в стена ; фугирана тухлена зидария; каменна зидария според нейното предназначение и изисквания на проекта;</p>

                <h2>Курс Мазилки и шпакловки</h2>
                <p>В курса се изучава: вътрешни мазилки по стени и тавани /вътрешна варова мазилка по стени и тавани; гипсова мазилка по масивни стени и тавани; корнизи и оформяне с мазилка отвори за врати и прозорци; мазилка по греди, колони и пиластри; външни мазилки и шпакловки по стени и тавани; грундиране на повърхности преди изпълнението на шпакловки; подготовка на основата, нанасяне на шпакловъчния пласт, заглаждане и шлифоване на повърхността; варова шпакловка; гипсова шпакловка по стени и тавани.</p>

                <h2>Курс Вътрешни облицовки и настилки</h2>
                <p>В курса се изучава: видовете облицовки според различните класифициращи признаци, както и материалите, разтворите и лепилата, използвани за вътрешни облицовки; предназначението и видовете на вътрешните настилки; видовете мозайки, тяхното приложение;  необходимите машини, инструменти и пособия, необходими за работата; циментови замазки по подове; бетонни настилки върху стоманобетонни плочи и земна основа; настилки от керамични или други плочи; настилки от дърво: дюшеме, паркет, ламинат; настилки от меки подови покрития.</p>

                <h2>Курс Строителен бояджия</h2>
                <p>В курса се изучава: различните видове строителни материали според предназначението, състава, свойствата и качествата им; видовете бояджийски състави и приложението им; предимствата и недостатъците на боядисването в сравнение с останалите декоративни покрития; основните производствени процеси при бояджийски работи; технологичната характеристика на тапетните работи, видовете тапети и тяхното приложение; технологичните операции при залепване на тапети; технологичната характеристика и приложение на декоративните работи;</p>

                <h2>Курс Строително дърводелство</h2>
                <p>В курса се изучава: технологическата характеристика и структурата на процесите при дърводелски и столарски работи; основните производствени процеси при дърводелските дейности; технологията за изработване и монтаж на изделия от дърво; дървените строителни конструкции и технологията на тяхното изпълнение; технологията за изпълнение на кофражните работи; технологията за изпълнение на дървените подови настилки.</p>

                <h2>Курс Строителен тенекеджия</h2>
                <p>В курса се изучава: изработването и монтирането на улуци, воронки,  водосточни тръби, въздуховоди, казанчета; обшивки на покриви и други покривни надстройки; обшивки на подпрозоречни прагове; изпълнение на метални конструкции – врати, прозорци и витрини, стълби, парапети, решетки; монтирането на метални стълби и парапети, предпазни метални решетки.</p>

                <h2>Курс Вътрешни ВиК мрежи</h2>
                <p>В курса се изучава: елементите за В и К мрежи в схемите и чертежите;  разчитането на проекти и монтажни планове за В и К мрежата; водомерен възел и шахта; тръбни връзки; помпени станции; технологичния ред за изпълнение на: В и К мрежи и отклонения, мрежа за студена и мрежа за топла вода, помпени станции; санитарни охраняеми зони; монтаж и демонтаж на уреди, нови фитинги и тръби, откриване на нови и закриване на стари водопроводни отклонения; технологичната последователност на дейностите за отстраняване на спешно възникнали аварии във ВиК мрежи;</p>

                <h2>Курс Електродомакинска техника</h2>
                <p>В курса се изучава: сервизното обслужване на електродомакинската техника; разчитане на фирмената документация и разпознаване на елементите на електродомакинската техника; основните изисквания за демонтаж, ремонт и изпитване на електродомакинската техника и необходимостта от тях; първична диагностика на електродомакинската техника – огледи, първични измервания;  технологичния ред за демонтаж и ремонт на електродомакинска техника; видовете след ремонтни изпитвания; конкретни измервания и безопасността на ремонтираната електродомакинска техника.</p>

                <h2>Курс Шивачи</h2>
                <p>В курса се изучава: изработването на  детайли и облекло от текстил, спазвайки  технологичната последователност; поправят се  грешки от технологичен характер; чертаене на  основни конструкции на дамско, мъжко и детско облекло от тъкани и плетени текстилни материали; окончателна изработка на облеклата.</p>

            </div>

    </div>
    <!-- /.container -->

    <footer class="footer">
            <center>
                Център за професионално обучение - Велико Търново, 2016
                <br>
                Телефон за контакти: 062 625 048
            </center
        </footer>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
