<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ЦПО Велико Търново - Професии</title>

    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ЦПО към РС на ТПК - Велико Търново</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Информация</a>
                    </li>
                    <li>
                        <a href="/deinosti">Дейност</a>
                    </li>
                    <li class="active">
                        <a href="/profesii">Професии</a>
                    </li>
                    <li>
                        <a href="/kursove">Курсове</a>
                    </li>
                    <li>
                        <a href="/galeria">Галерия</a>
                    </li>
                    <li>
                        <a href="/contact">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

        <!-- Page Content -->
    <div class="container">        
        <div class="col-md-3" id="partners">
                <h2>Партньори</h2>
                <img src="images/part1_t.jpg" alt="Напоо" class="img-rounded">
                <img src="images/part2_t.jpg" alt="Агенция по Заетост" class="img-rounded">
                <img src="images/part3_t.jpg" alt="Министерство на Образуванието и Науката" class="img-rounded">
        </div>
        <div class="col-md-8">
            <h1>Списък на професиите</h1>
            <h3>Лицензия на  НАПОО  200211052</h3>
                1. Професия – Оператор в производство на облекло <br>
                     - Специалност – Производство на облекло от текстил <br>
                2. Професия – Фризьор <br>
                     - Специалност – Фризьорство <br>
                3. Професия – Козметик <br>
                     - Специалност – Козметика <br>
                4. Професия – Готвач <br>
                     - Специалност – Производство на кулинарни изделия и напитки <br>
                5. Професия – Сервитьор - Барман <br>
                     - Специалност –  Обслужване на заведения в обществено хранене <br>
                6.  Професия - Монтьор на подемно-транспортна техника <br>
                     -  Специалност – Подемно-транспортна техника монтирана на пътни транспортни средства <br>
                     - Специалност – Подемно-транспортна техника с електрозадвижване <br>
                7. Професия - Монтьор на транспортна техника <br>
                     - Специалност – Пътно-строителна техника <br>
                8. Професия -  Монтьор на енергийни съоръжения и инсталации <br>
                      - Специалност – Газова техника <br>
                9. Професия - Електромонтьор <br>
                      - Специалност – Електрообзавеждане на подемна и асансьорна техника <br>
                      - Специалност - Електродомакинска техника <br>
                10. Професия - Оператор на парни и водогрейни съоръжения <br>
                      - Специалност - Експлоатация на парни и водогрейни съоръжения <br>
                11. Професия – Строител <br>
                      - Специалност – Кофражи <br>
                      - Специалност – Зидария <br>
                      - Специалност – Мазилки и шпакловки <br>
                      - Специалност – Вътрешни облицовки и настилки <br>
                      - Специалност – Бояджийски работи <br>
                      - Специалност – Строително дърводелство <br>
                      - Специалност – Строително тенекеджийство <br>
                12. Професия –  Монтажник на В и К мрежи <br>
                      - Специалност – Вътрешни В и К мрежи <br>
                13. Професия – Заварчик <br>
                      - Специалност – Заваряване <br>
                14. Професия - Машинен монтьор <br>
                      - Специалност – Машини и съоръжения в текстилната, обувната и дървообработващата промишленост. <br>

                 <ul>
                    <li>Готвач</li>
                    <li>Сервитьор-барман</li>
                    <li>Фризьор</li>
                    <li>Козметик</li>
                    <li>Масажист</li>
                    <li>Маникюр, педикюр, ноктопластика</li>
                    <li>Шивач</li>
                    <li>Машинист на пътно-строителни машини</li>
                    <li>Електро и мотокарист</li>
                    <li>Кранист</li>
                    <li>Огняр</li>
                    <li>Асансьорен монтьор</li>
                    <li>Газова техника</li>
                    <li>Електродомакинска техника</li>
                    <li>Кофражист</li>
                    <li>Зидар</li>
                    <li>Мазилки и шпакловки</li>
                    <li>Вътрешни облицовки и настилки</li>
                    <li>Бояджийски работи</li>
                    <li>Строително дърводелство</li>
                    <li>Строително тенекеджийство</li>
                    <li>Вътрешни  ВиК  мрежи</li>
                    <li>Заварчик на ъглови шевове</li>
                </ul>
            </div>
        
    </div>
    <!-- /.container -->

    <footer class="footer">
            <center>
                Център за професионално обучение - Велико Търново, 2016
                <br>
                Телефон за контакти: 062 625 048
            </center
        </footer>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
