<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ЦПО към РС на ТПК - Велико Търново</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Информация</a>
                    </li>
                    <li class="active">
                        <a href="/deinosti">Дейност</a>
                    </li>
                    <li>
                        <a href="/profesii">Професии</a>
                    </li>
                    <li>
                        <a href="/kursove">Курсове</a>
                    </li>
                    <li>
                        <a href="/galeria">Галерия</a>
                    </li>
                    <li>
                        <a href="/contact">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">        
            <div class="col-md-3" id="partners">
                <h2>Партньори</h2>
                <img src="images/part1_t.jpg" alt="Напоо" class="img-rounded">
                <img src="images/part2_t.jpg" alt="Агенция по Заетост" class="img-rounded">
                <img src="images/part3_t.jpg" alt="Министерство на Образуванието и Науката" class="img-rounded">
            </div>
            <div class="col-md-8">
                <h1>Представяне на дейността</h1> <br>
                
                <h4>1. Лични данни</h4> <br>

                <table class="table">
                    <tr>
                        <td>Пълно официално наименование:</td>
                        <td>“Център за професионално обучение към Регионален сьюз на ТПК гр. Велико Търново” ЕООД – гр. Велико Търново</td>
                    </tr>
                    <tr>
                        <td>Инициали:</td>
                        <td>“ЦПО към РС на ТПК В.Търново” ЕООД – гр. Велико Търново</td>
                    </tr>
                    <tr>
                        <td>Правен статут:</td>
                        <td>ЕООД</td>
                    </tr>
                    <tr>
                        <td>Регистрационен номер по ДДС:</td>
                        <td>освободена от ДДС</td>
                    </tr>
                    <tr>
                        <td>Официален адрес:</td>
                        <td>гр. Велико Търново 5000, ул. “Никола Габровски” 1, ет. 2, офис 10</td>
                    </tr>
                    <tr>
                        <td>Адрес за кореспонденция:</td>
                        <td>гр. Велико Търново 5000, ул. “Никола Габровски” 1, ет. 2, офис 10</td>
                    </tr>
                    <tr>
                        <td>Лице за контакти:</td>
                        <td>Ваня Вачева и Теодора Миновска</td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td>+359889996104; +359889819200</td>
                    </tr>
                    <tr>
                        <td>Електронна поща:</td>
                        <td><a href="mailto:centarzakvalifikacia@abv.bg" target="_top">centarzakvalifikacia@abv.bg</a></td>
                    </tr>
                </table>

                <h4>2. Описание на кандидата:</h4>
                <strong>2.1. Кога е основана организацията и кога е започнала дейността си:</strong>
                “ЦПО към РС на ТПК Велико Търново” ЕООД е наследник на ПУЦ при СД “МП и БУ” – гр. Велико Търново, създаден със заповед на Министерството на труда и социалните грижи на база Заповед No.1253 от 3.08.1973 г. 
                от 1989 г. до 1994 г. Центърът за професионално обучение е бил под методическото ръководство на КУ „Десислава“ – Велико Търново.
                от 1.04.1994 г.е преименуван на „Център за квалификация на кадри към РС на ТПК В. Търново. 
                от 24.01.2003 г. според изискванията на НАПОО, е преименуван на “Център за професионално обучение към Регионален сьюз на ТПК гр. Велико Търново” ЕООД – Велико Търново. 
                Лицензиран е от НАПОО с Лицензия No. 200211052. <br> <br>

                <strong>2.2. Основни дейности понастоящем:</strong>
                <ul>
                    <li>Квалификация и преквалификация на възрастни самофинансиращи се.</li>
                    <li>Квалификация на възрастни по заявка на работодатели.</li>
                    <li>Квалификация на безработни регистрирани в БЮРАТА ПО ТРУДА.</li>
                    <li>Обучение на безработни – регистрирани в Бюрата по труда по спечелени проекти финансирани от ЕС.</li>
                </ul> <br> 

                <strong>2.3. Списък на управителния орган/съвет на фирмата:</strong> <br>
                Ваня Димитрова Вачева – Управител
                Теодора Димова Миновска – Организатор професионално обучение <br> <br>

                <strong>3. Капацитет за управление и квалификация на възрастни</strong>
                През дългогодишното си съществуване ЦПО към РС на ТПК В. Търново ЕООД – гр. Велико Търново е изградил традиции, опит и в продължение на десетилетия е обучил за нуждите на промишлеността и услугите стотици хора, които са се реализирали на пазара на труда. В дейността си ЦПО използва отлични  консултанти, експерти и лектори с висока квалификация и професионален опит. Работим по 25 професии. Нашите предимства са: гъвкав подход, добро отношение към курсистите, сравнително ниска цена, но качествена работа, компетентен и надежден екип от лектори, познаване на търсенето и предлагането на пазара на труда. <br> <br>

                <strong>Обучение  досега в следните проекти :</strong>
                <ul>
                    <li>Българо-австрийски проект на институт „BEST” 1998-1999 г.</li>
                    <li>Проект “Красива България”: за периода 2001-2015 г.;</li>
                    <li>Проект по програма ФАР - BG 0202.01-YI.2.23</li>
                    <li>ОП „Развитие на човешките ресурси” 2007-2013 – „Аз мога повече”</li>
                    <li>Квалификация на безработни към Агенция по заетостта</li>
                    <li>Преквалификация на служители и работници на фирми от различни области на България</li>
                </ul>
            </div>

    </div>
    <!-- /.container -->

    <footer class="footer">
            <center>
                Център за професионално обучение - Велико Търново, 2016
                <br>
                Телефон за контакти: 062 625 048
            </center
        </footer>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
